    ::-webkit-scrollbar {
    width: 4px;
}

    ::-webkit-scrollbar-track {
    background-color: var(--light-gray);
}

    ::-webkit-scrollbar-thumb {
    background: rgb(189, 189, 189);
  }
  
  ::-webkit-scrollbar-thumb:hover {
      cursor: pointer;
  }

.region-select-container{
    --light-gray: rgb(236, 236, 236);
    --dark-gray: rgb(219, 219, 219);
    --font-dark-gray: rgb(36, 36, 36);
    --font-light-gray: rgb(101, 101, 101);
}

.region-select-container{
    margin: 100px;
    display: flex;
    gap: 10px;
}

.region-select-container .region-state{
    padding: 20px 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: max-content;
    max-height: 400px;
    overflow-y: scroll;
    background-color: var(--light-gray);
}

.region-select-container .region-state .state-btn{
    background-color: var(--light-gray);
    border-radius: 4px;
    display: inline-block;
    border: none;
    padding: 10px 20px;
    color: var(--font-dark-gray);
    color: var(--font-light-gray);
}

.region-select-container .region-state .state-btn:hover{
    cursor: pointer;
}

.region-select-container .region-state .state-btn.active{
    background-color: var(--dark-gray);
    color: var(--font-dark-gray);
}

.region-select-container .state-city{
    padding: 10px 10px;
    border-radius: 4px;
    background-color: var(--light-gray);
    max-height: 300px;
    overflow-y: scroll;
}

.region-select-container .input__group{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 14px;
}


.region-select-container .input__group input:hover, label:hover{
    cursor: pointer;
}

.region-select-container .input__group input{
    width: 15px;
    height: 15px;
}

.region-select-container .input__group label{
    color: var(--font-light-gray)
}

.region-select-container .input__group input:checked ~ label{
    color: var(--font-dark-gray)
}